header.header
  +img('logo.svg').header__logo
  a(href='tel:+380664404000').link.header__phone +380 66 440 4000
  a(href='mailto:no.matter.sales@gmail.com').link.header__mail no.matter.sales@gmail.com
  ul.social
    li.social-item
      a(href="#" rel="nofollow" target="_blank")
        +svg('4').social-item__ico.width--max
    li.social-item
      a(href="#" rel="nofollow" target="_blank")
        +svg('3').social-item__ico
    li.social-item
      a(href="#" rel="nofollow" target="_blank")
        +svg('2').social-item__ico
    li.social-item
      a(href="#" rel="nofollow" target="_blank")
        +svg('1').social-item__ico